<div class="log-visualizer countess-discard" *ngIf="logEntry">
  <span class="player-name">{{ logEntry.actingPlayerName }}</span>
  <span *ngIf="playedPrinceOrKingCardDisplay">
    played
    <app-card-display [card]="playedPrinceOrKingCardDisplay" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onPlayedPrinceOrKingCardInfoClicked()"></app-card-display>
    and was forced to discard
  </span>
  <span *ngIf="!playedPrinceOrKingCardDisplay">
    was forced to discard <!-- Fallback if played card isn't specified for some reason -->
  </span>
  <app-card-display *ngIf="discardedCountessCardDisplay" [card]="discardedCountessCardDisplay" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onDiscardedCountessCardInfoClicked()"></app-card-display>
  <span *ngIf="!playedPrinceOrKingCardDisplay">
    because they held a Prince or King.
  </span>
</div>
