<div class="log-visualizer-entry" *ngIf="logEntry">
  <span class="player-name-log">{{ logEntry.actingPlayerName }}</span>
  <span>was eliminated</span>
  <span class="log-emoji">💀</span>
  <ng-container *ngIf="logEntry.cardResponsibleForEliminationValue !== undefined && logEntry.cardResponsibleForEliminationValue !== null">
    <span>. By:</span>
    <app-card [cardData]="{ appearanceId: '', rank: logEntry.cardResponsibleForEliminationValue }"
              [isFaceDown]="false"
              (infoClicked)="onResponsibleCardInfoClicked()"></app-card>
  </ng-container>
</div>
