<div *ngIf="logEntry" class="log-entry player-eliminated">
  <span class="player-name">{{ logEntry.targetPlayerName }}</span>
  <span> was eliminated from the round</span>
  <span *ngIf="logEntry.actingPlayerName && logEntry.actingPlayerName !== logEntry.targetPlayerName">
    by <span class="player-name">{{ logEntry.actingPlayerName }}</span>
  </span>
  <span *ngIf="logEntry.cardResponsibleForEliminationValue !== undefined">
    . The card responsible was
    <app-card-display
      [card]="{ appearanceId: logEntry.cardResponsibleForEliminationAppearanceId || '', rank: logEntry.cardResponsibleForEliminationValue }"
      [isFaceDown]="false"
      [isPlayable]="false"
      (infoClicked)="onSourceCardInfoClicked()">
    </app-card-display>.
  </span>
  <span *ngIf="logEntry.cardResponsibleForEliminationValue === undefined">
    .
  </span>
</div>
