@use '../visualizer' as viz;

:host {
  @include viz.apply-visualizer-host-styles;
}

.target-info {
  margin-left: 5px;
  font-style: italic;
  color: #777;
}

.guessed-card {
  margin-left: 5px;
  font-weight: normal; // Assuming it's part of another element that might be bold
  color: #4a4a4a;
}

// Ensure app-card is displayed correctly if it's directly a child of :host or .log-visualizer-entry
app-card {
  // If specific sizing or spacing is needed for the card in this context
}
