<div class="log-visualizer card-played" *ngIf="logEntry">
  <span class="player-name">{{ logEntry.actingPlayerName }}</span>
  <span> played </span>
  <div class="card-display-container">
    <app-card-display [card]="{ appearanceId: logEntry.playedCardAppearanceId || '', rank: logEntry.playedCardValue ?? 1 }"
              [isFaceDown]="false"
              [isPlayable]="false"
              (infoClicked)="onCardInfoClicked($event)">
    </app-card-display>
  </div>
  <span *ngIf="logEntry.targetPlayerName"> on <span class="player-name">{{ logEntry.targetPlayerName }}</span>.</span>
</div>
