<div class="log-visualizer-entry" *ngIf="logEntry">
  <div class="player-card-combo">
    <span class="player-name-log">{{ logEntry.actingPlayerName }}</span>
    <app-card [cardData]="{ appearanceId: '', rank: CardType.Prince }" [isFaceDown]="false" (infoClicked)="onPrinceCardInfoClicked()"></app-card>
  </div>
  <span>forces</span>
  <div class="player-card-combo">
    <span class="player-name-log">{{ logEntry.targetPlayerName }}</span>
    <!-- The discarded card is shown directly under the target player's name -->
    <app-card [cardData]="{ appearanceId: logEntry.discardedByPrinceCardAppearanceId || '', rank: logEntry.discardedByPrinceCardValue ?? 1 }" [isFaceDown]="false" (infoClicked)="onDiscardedCardInfoClicked()"></app-card>
  </div>
</div>
