<div class="log-visualizer-entry" *ngIf="logEntry">
  <div class="player-card-combo">
    <span class="player-name-log">{{ logEntry.actingPlayerName }}</span>
    <app-card [cardData]="{ id: '', type: CardType.Priest }" [isFaceDown]="false" (infoClicked)="onPriestCardInfoClicked()"></app-card>
  </div>
  <img src="assets/icons/eye.svg" alt="looks at" class="log-icon-medium" />
  <div class="player-card-combo">
    <span class="player-name-log">{{ logEntry.targetPlayerName }}'s hand:</span>
    <ng-container *ngIf="canSeeRevealedCard && logEntry.revealedCardValue !== undefined && logEntry.revealedCardValue !== null">
      <app-card [cardData]="{ id: '', type: logEntry.revealedCardValue }" [isFaceDown]="false" (infoClicked)="onRevealedCardInfoClicked()"></app-card>
    </ng-container>
    <ng-container *ngIf="!canSeeRevealedCard">
      <app-card [cardData]="{ id: '', type: 0 }" [isFaceDown]="true"></app-card>
    </ng-container>
  </div>
</div>
