<div class="log-visualizer baron-compare" *ngIf="logEntry">
  <span class="player-name">{{ logEntry.actingPlayerName }}</span> played Baron, comparing their card:
  <app-card-display *ngIf="player1CardDisplay" [card]="player1CardDisplay" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onPlayer1ComparedCardInfoClicked()"></app-card-display>
  against <span class="player-name">{{ logEntry.targetPlayerName }}</span>'s card:
  <app-card-display *ngIf="player2CardDisplay" [card]="player2CardDisplay" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onPlayer2ComparedCardInfoClicked()"></app-card-display>.
  <span *ngIf="logEntry.baronLoserPlayerId === logEntry.actingPlayerId"> <span class="player-name">{{ logEntry.actingPlayerName }}</span> lost and was eliminated.</span>
  <span *ngIf="logEntry.baronLoserPlayerId === logEntry.targetPlayerId"> <span class="player-name">{{ logEntry.targetPlayerName }}</span> lost and was eliminated.</span>
  <span *ngIf="logEntry.baronLoserPlayerId === undefined "> It was a tie, no one was eliminated.</span>
</div>
