<div class="log-visualizer-entry" *ngIf="logEntry">
  <span>Baron Compare:</span>
  <app-card-display [card]="{ appearanceId: logEntry.player1ComparedCardAppearanceId || '', rank: logEntry.player1ComparedCardValue ?? 1 }" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onPlayer1ComparedCardInfoClicked()"></app-card-display>
  <span class="log-emoji">⚔️</span>
  <app-card-display [card]="{ appearanceId: logEntry.player2ComparedCardAppearanceId || '', rank: logEntry.player2ComparedCardValue ?? 1 }" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onPlayer2ComparedCardInfoClicked()"></app-card-display>.

  <span>Result:</span>
  <ng-container *ngIf="logEntry.baronLoserPlayerId !== undefined && logEntry.baronLoserPlayerId !== null">
    <span class="player-name-log">
      {{ logEntry.baronLoserPlayerId === logEntry.actingPlayerId ? logEntry.targetPlayerName : logEntry.actingPlayerName }}
    </span>
    <span class="log-emoji">🏆</span>
  </ng-container>
  <ng-container *ngIf="logEntry.baronLoserPlayerId === undefined || logEntry.baronLoserPlayerId === null">
    <span>Tie</span>
    <span class="log-emoji">🤝</span>
  </ng-container>
</div>
