<div
  class="card-container"
  [class.face-down]="isFaceDown"
  [class.selected]="isSelected"
  [class.playable]="isPlayable"
  (click)="onCardClick()">

  <div *ngIf="isFaceDown" class="card-face card-back">
    <div class="card-back-design">LL</div> </div>

  <div *ngIf="!isFaceDown && cardData" class="card-face card-front">
    <div class="card-rank top-left">{{ cardRank }}</div>
    <div class="card-name">{{ cardText }}</div>
    <div class="card-rank bottom-right">{{ cardRank }}</div>
  </div>

  <div *ngIf="!isFaceDown && !cardData" class="card-face card-front card-placeholder">
    ?
  </div>

</div>
