<div class="guard-miss">
  <span class="player-name">{{ logEntry.actingPlayerName }}</span> played Guard and incorrectly guessed <span class="player-name">{{ logEntry.targetPlayerName }}</span> held:
  <app-card [cardData]="{ id: '', type: CardType.Guard }" [isFaceDown]="false" (infoClicked)="onCardInfoClicked($event)"></app-card>
  <img src="assets/icons/arrow-right.svg" alt="guessed" class="icon-small" />
  <app-card [cardData]="{ id: '', type: logEntry.guessedCardValue ?? 0 }" [isFaceDown]="false" (infoClicked)="onCardInfoClicked($event)"></app-card>
</div>
