<div class="container">
    <div class="other-players">
        <div *ngFor="let player of otherPlayers | async; trackBy: trackByPlayerId"
        class="player">
            <cgc-other-player [player]="player"></cgc-other-player>
        </div>
    </div>
    <div class="play-area" *ngIf="!!gameModel">
        <div class="discard">
            Discard <span> Count: {{discardCount}}</span>
            <div class="cards">
                <div class="card" [ngClass]="{ card1: showDiscard1() }">
                    <div class="card" [ngClass]="{ card2: showDiscard2() }">
                        <div class="card" [ngClass]="{ card3: showDiscard3() }">
                            <p>Value: {{discardTop?.strength}}</p>
                            <p>
                                <button mat-raised-button>Show</button>
                            </p>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="draw">
            Draw <span> Remaining: {{drawCount}}</span>
            <div class="cards">
                <div class="card card1" [hidden]="!showDraw1()">
                    <div *ngIf="showDraw1Contents()">
                    </div>
                </div>
                <div class="card card2" [hidden]="!showDraw2()">
                    <div *ngIf="showDraw2Contents()">
                    </div>
                </div>
                <div class="card card3" [hidden]="!showDraw3()">
                    <div *ngIf="showDraw3Contents()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="current-player">
        <cgc-current-player [player]="currentPlayer" [otherPlayers]="otherPlayers | async"></cgc-current-player>
    </div>
</div>
