<div class="container">
    <div class="other-players">
        <div *ngFor="let player of otherPlayers | async; trackBy: trackByPlayerId"
        class="player">
            <cgc-other-player [name]="player.name"
              [isInRound]="player.isInRound"></cgc-other-player>
        </div>
    </div>
    <div class="play-area">
        <div class="discard">
            Discard <span> Count: {{discardCount}}</span>
            <div class="cards">
                <div class="card card1"
                    [hidden]="!showDiscard1()">
                    <div *ngIf="showDiscard1Contents()">
                        <p>Value: {{discardTop?.strength}}</p>
                        <p>
                            <input type="button" value="Inspect" />
                        </p>
                    </div>                    
                </div>
                <div class="card card2" [hidden]="!showDiscard2()">
                    <div *ngIf="showDiscard2Contents()">
                        <p>Value: {{discardTop?.strength}}</p>
                        <p>
                            <input type="button" value="Inspect" />
                        </p>
                    </div>
                </div>
                <div class="card card3" [hidden]="!showDiscard3()">
                    <div *ngIf="showDiscard3Contents()">
                        <p>Value: {{discardTop?.strength}}</p>
                        <p>
                            <input type="button" value="Inspect" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="draw">
            Draw <span> Remaining: {{drawCount}}</span>
            <div class="cards">
                <div class="card card1" [hidden]="!showDraw1()">
                    <div *ngIf="showDraw1Contents()">
                    </div>
                </div>
                <div class="card card2" [hidden]="!showDraw2()">
                    <div *ngIf="showDraw2Contents()">
                    </div>
                </div>
                <div class="card card3" [hidden]="!showDraw3()">
                    <div *ngIf="showDraw3Contents()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="current-player">
        <cgc-current-player [player]="currentPlayer" [otherPlayers]="otherPlayers | async"></cgc-current-player>
    </div>
</div>
