<div class="container">
    <div class="other-players">
        <div *ngFor="let player of otherPlayers | async; trackBy: trackByPlayerId"
        class="player">
            <cgc-other-player [name]="player.name"
              [isInRound]="player.isInRound"></cgc-other-player>
        </div>
    </div>
    <div class="play-area">
        <div class="discard">
            Discard
            <div class="cards">
                <div class="card card1"></div>
                <div class="card card2"></div>
                <div class="card card3"></div>
            </div>
        </div>
        <div class="draw">
            Draw
            <div class="cards">
                <div class="card card1"></div>
                <div class="card card2"></div>
                <div class="card card3"></div>
            </div>
        </div>
    </div>
    <div class="current-player">
        <cgc-current-player [player]="currentPlayer | async"></cgc-current-player>
    </div>
</div>
