.container {
    .other-players {
        display: flex;
        justify-content: center;
        .player {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .play-area {
        display: flex;
        justify-content: center;
    }
    .discard {
        margin-right: 15px;
    }
}