.container {
    .other-players {
        display: flex;
        justify-content: center;
        .player {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .play-area {
        display: flex;
        justify-content: center;
        %card-placeholder {
            padding-left: 15px;
            padding-right: 15px;
            border-style: solid;
            border-width: 1px;
            width: 100px;
            height: 200px;
            background-color: white;
            word-wrap: break-word;
        }

        .discard {
            border-width: 1px;
            border-style: dashed;
            padding: 15px;
            .cards {
                margin-bottom: 20px;
                .card {
                    &.card1 {
                        position: relative;
                    }
                    &.card1,
                    &.card2,
                    &.card3 {
                        @extend %card-placeholder;
                    }
                    &.card2,
                    &.card3 {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                    }              
                }
            }
        }
        .draw {
            border-width: 1px;
            border-style: dashed;
            padding: 15px;
            .cards {
                position: relative;
                margin-bottom: 20px;
                .card {
                    @extend %card-placeholder;              
                }
                .card2 {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                }
                .card3 {
                    position: absolute;
                    top: 10px;
                    left: 10px
                }
            }
        }
        .discard {
            border-color: green;
            margin-right: 15px;
            .cards {
                position: relative;
                margin-bottom: 20px;
                .card {
                    border-color: green;                    
                }
            }
        }
        .draw {
            border-color: purple;
            .cards {
                position: relative;
                margin-bottom: 20px;
                .card {
                    border-color: purple;                    
                }
            }
        }
    }
    
}