.container {
    .other-players {
        display: flex;
        justify-content: center;
    }
    .play-area {
        display: flex;
        justify-content: center;
    }
    .discard {
        margin-right: 15px;
    }
}