<div class="container">
    <div class="card"
        [hidden]="(card1 | async) === (null||undefined)">
        <cgc-playable-card class="card-1"
          [card]="(card1 | async)"
          [isTurn]="isTurn | async"
          (playClick)="play(card1)"></cgc-playable-card>
    </div>
    <div class="card"
        [hidden]="(card2 | async) === (null||undefined)">
        <cgc-playable-card class="card-2"
          [card]="(card2 | async)"
          [isTurn]="isTurn | async"
          (playClick)="play(card2)"></cgc-playable-card>
    </div>
</div>
