<div class="log-visualizer guard-hit" *ngIf="logEntry">
  <span class="player-name">{{ logEntry.actingPlayerName }}</span> played
  <app-card-display *ngIf="playedGuardCardDisplay" [card]="playedGuardCardDisplay" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onGuardCardInfoClicked()"></app-card-display>
  on <span class="player-name">{{ logEntry.targetPlayerName }}</span>,
  guessing they had a card of rank {{ guessedRankDisplay }}.
  It was a HIT! <span class="player-name">{{ logEntry.targetPlayerName }}</span>'s card was
  <app-card-display *ngIf="revealedPlayerCardDisplay" [card]="revealedPlayerCardDisplay" [isFaceDown]="false" [isPlayable]="false" (infoClicked)="onRevealedCardInfoClicked()"></app-card-display>.
  {{ logEntry.targetPlayerName }} was eliminated.
</div>
